[user]
    email = noc7c9@gmail.com
    name = Athir Saleem
[push]
    default = simple
[alias]
    s = status
    b = branch
    co = checkout
    a = add
    aa = add .
    x = commit
    xa = commit -a
    d = diff
    ds = diff --staged
    last = show head

    # http://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
    l = log -n 5 --graph --format=format:'%C(bold cyan)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)<%an>%C(reset)%C(auto)%d%C(reset)%n%C(white)%s%C(reset)%n'
    ll = log --graph --format=format:'%C(bold cyan)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)<%an>%C(reset)%C(auto)%d%C(reset)%n%C(white)%B%C(reset)'
    lll = !"git ll --all --full-history -n -1"

    amend = commit --amend --no-edit
    undo = reset --soft HEAD~
    unstage = reset HEAD
    unstash = stash pop

    dlast = diff HEAD^ HEAD

    # http://blog.blindgaenger.net/advanced_git_aliases.html
    this = !git init && git add . && git commit -m \"Initial commit\"
    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo >> .gitignore
[core]
    editor = 'nvim'
    excludesfile = ~/.gitignore_global
    autocrlf = false
    eol = lf
[credential]
    helper = libsecret
    helper = manager
